.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
  min-height: 300px;
}

@media (prefers-color-scheme: dark) {
  .responsive {
    filter: invert();
  };
}

@media (max-width: 700px) {
  .responsive {
    display: none;
    
  };
}