.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
}

.footer {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  };
}

